* {
	margin: 0;
	padding: 0;
}

body {
	width: 855px;
	margin: auto;
	background: ivory;
	font-size: 100%;
	font-family: sans-serif;
}

header {
	overflow: auto;
	border-bottom: 1px solid darkslategray;
}

h1 {
	float: left;
}


header p {
	floa: right;
	width: 570px;
	font-style: italic;
	margin-top: 10px;
}

header .maintitle {
	width: 285px;
	float: left;
}

header .subtitle {
	width: 570px;
	float: right;
	clear: both;
}

.comments p:nth-child(even) {
	background: lavender;
}

.comments p:nth-child(odd) {
	background: gainsboro;
}

